body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  max-width: 400px;
  width: 100%;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  padding: 24px;
  border-radius: 10px;
}

.card img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
}

.location {
  font-size: 14px;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-top: 10px;
  margin-bottom: 30px;
}

.bio {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 70%);
  margin-bottom: 22px;
}

.links a {
  display: block;
  color: hsl(0, 0%, 100%);
  width: 100%;
  text-decoration: none;
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 15px;
  padding: 15px 0;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}